
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  /* Box Model */
  margin: 0;
  padding: 0;
  height: 100vh;

  /* Layout e Posicionamento */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Fundo e Estética */
  background: url('https://cdn.pixabay.com/photo/2017/04/21/17/44/pink-2249403_1280.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4); /* Um leve fundo escuro por baixo */
    background-blend-mode: overlay;
}

main {
  /* Reset e Box Model */
  margin: 0 auto; /* Centraliza */
  padding: 30px; /* Mais espaço interno */
  border-radius: 20px; /* Borda arredondada */
  overflow-y: auto;

  /* Tamanhos Globais */
  width: 90%; /* Ocupa 90% da largura */
  max-width: 1200px; /* Limita a largura máxima */
  min-height: 80vh; /* Garante um tamanho mínimo em altura */

  /* Fundo */
  background: rgb(255, 92, 187); /* Mantém o fundo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
}

/* Estilo Menor Apenas para a Página Inicial */
main.home {
  width: 400px;
  height: 500px;
  margin: 0 auto; /* Centraliza o elemento */
  border-radius: 20px;
  padding: 20px;
  overflow-y: auto;
  background: rgb(255, 92, 187);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  max-height: 150px; /* Limita a altura */
  object-fit: contain; /* Garante que a imagem seja ajustada sem distorção */
  border-radius: 10px;
}


